doctype 5
html
	head
	title= title
	link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.container
			div.title-area
				h1.home-mainheader value|create
				p.home-subheader tools for modern finance
			div.maincontent
				a.company-link(href='route1') new company
				a.company-link(href='route2') existing company

		//- form#userdata(action='/receive', method='post')
		//- 	input.userinput(type='text', name='tester', placeholder='enter you username')
		//- 	input(type='submit')

		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")


