doctype 5
html
	head
	title= title
	link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/animate-custom.css')
	body
		div.container
			div.title-area
				h1.home-mainheader value|create
				p.home-subheader tools for modern finance
			div.introcontent
				span#newCo.menu-text new company
				span#existingCo.menu-text existing company
				span#about.menu-text about
			div.maincontent


		include templates.html

		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='/javascripts/client.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.2/highcharts.js')
		script(src='http://code.highcharts.com/modules/exporting.js')	



