<!-- New company input form -->
<script id="newCo-template" type="text/x-handlebars-template">
	<div id="add-company-container" class="insert-block downlow">
		<p class="instructions">
			Enter the following ($ in millions):
		</p>
		<form id="add-company-form">
			<div class="row newCo-row">
				<div class="col-xs-4">
					<input type="text" id="first-input" name="companyName" class="form-control company-input" value="CoolCo" placeholder="company name">
				</div>
				<div class="col-xs-4">
					<input type="text" name="targetReturns" class="form-control company-input" value=0.2 placeholder="target return">
				</div>
				<div class="col-xs-4">
					<input type="text" name="exitMultiple" class="form-control company-input" value=5 placeholder="exit multiple">
				</div>
			</div>
			<div class="row newCo-row">
				<div class="col-xs-4">
					<input type="text" name="baseRev" class="form-control company-input" value=100 placeholder="base year revenue">
				</div>
				<div class="col-xs-4">
					<input type="text" name="cagr" class="form-control company-input" value=0.05 placeholder="5 year revenue cagr">
				</div>
				<div class="col-xs-4">
					<input type="text" name="margin" class="form-control company-input" value=0.25 placeholder="ebitda margin">
				</div>
			</div>
			<div class="row newCo-row">
				<div class="col-xs-4">
					<input type="text" name="depAmort" class="form-control company-input" value=0.02 placeholder="depreciation & amortization %">
				</div>
				<div class="col-xs-4">
					<input type="text" name="capEx" class="form-control company-input" value=0.025 placeholder="capital expenditures %">
				</div>
				<div class="col-xs-4">
					<input type="text" name="nwcDays" class="form-control company-input" value=30 placeholder="working capital days">
				</div>
			</div>
			<div class="row newCo-row">
				<div class="col-xs-4">
					<input type="text" name="debt" class="form-control company-input" value=25 placeholder="debt financing">
				</div>
				<div class="col-xs-4">
				<input type="text" name="interestRate" class="form-control company-input" value=.06 placeholder="cost of debt">
				</div>
				<div class="col-xs-4">
					<input type="text" name="taxRate" class="form-control company-input" value=.4 placeholder="tax rate">
				</div>
			</div>
			<div class="row newCo-row">
				<div class="col-xs-4">
					<button type="submit" class="btn btn-default btn-sub">Submit</button>
				</div>
			</div>
		</form>
	</div>
</script>

<script id="results-template" type="text/x-handlebars-template">
	<div id="results-container">
		<div class="row">
			<div class="col-xs-6">
				<span class="results-titles">valuation ($mm)</span>
				<div id="valuation-container">
					<ul class="valuation-figures">
						<li><span class="valuation-category">enterprise value: </span><span class="valuation-number">{{tev}}</span></li>
						<li><span class="valuation-category">equity commitment: </span><span class="valuation-number">{{begEquity}}</span></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-6">
				<span class="results-titles">sources of returns ($mm)</span>
				<div id="chart-container"></div>
			</div>
		</div>
	</div>
</script>

<script id="existingList-template" type="text/x-handlebars-template">
	<div id="existing-company-container" class="insert-block downlow">
		<p class="instructions">
			Select a company:
		</p>
		<ul class="existing-list">
			{{#each results}}
				<li class="clickable" name={{this}}>{{this}}</li>
			{{else}}
				<li>No companies available</li>
			{{/each}}
		</ul>
	</div>
</script>

