<!-- New company input form -->
<script id="newCo-template" type="number/x-handlebars-template">
	<div id="add-company-container" class="insert-block downlow">
		<p class="instructions">
			Enter the following ($ in millions):
		</p>
		<form id="add-company-form">
			<div class="row newCo-row">
				<div class="col-xs-4">
					<input type="text" id="first-input" name="companyName" class="form-control company-input" placeholder="company name" value="NewCo" required> 
				</div>
				<div class="col-xs-4">
					<input type="number" name="targetReturns" class="form-control company-input" placeholder="target return" value=0.2>
				</div>
				<div class="col-xs-4">
					<input type="number" name="exitMultiple" min=1 max=15 step="any" class="form-control company-input" placeholder="exit multiple" value=5 required> 
				</div>
			</div>
			<div class="row newCo-row">
				<div class="col-xs-4">
					<input type="number" name="baseRev" min=0.1 step="any" class="form-control company-input" placeholder="base year revenue" value=100 required>
				</div>
				<div class="col-xs-4">
					<input type="number" name="cagr" step="any" class="form-control company-input" placeholder="5 year revenue cagr" value=0.05 required>
				</div>
				<div class="col-xs-4">
					<input type="number" name="margin" max=1 step="any" class="form-control company-input" placeholder="ebitda margin" value=0.25 required>
				</div>
			</div>
			<div class="row newCo-row">
				<div class="col-xs-4">
					<input type="number" name="depAmort" min=0 max=0.99 step="any" class="form-control company-input" placeholder="depreciation & amortization %" value=0.02 required>
				</div>
				<div class="col-xs-4">
					<input type="number" name="capEx" min=0 max=0.99 step="any" class="form-control company-input" placeholder="capital expenditures %" value=0.025 required>
				</div>
				<div class="col-xs-4">
					<input type="number" name="nwcDays" class="form-control company-input" placeholder="working capital days" value=30 required>
				</div>
			</div>
			<div class="row newCo-row">
				<div class="col-xs-4">
					<input type="number" name="debt" min=0 step="any" class="form-control company-input" placeholder="debt financing" value=25 required>
				</div>
				<div class="col-xs-4">
				<input type="number" name="interestRate" min=0.01 max=0.99 step="any" class="form-control company-input" placeholder="cost of debt" value=0.06 required>
				</div>
				<div class="col-xs-4">
					<input type="number" name="taxRate" min=0 max=0.99 step="any" class="form-control company-input" placeholder="tax rate" value=0.4 required>
				</div>
			</div>
			<div class="row newCo-row">
				<div class="col-xs-4">
					<button type="submit" class="btn btn-default btn-sub">Submit</button>
				</div>
			</div>
		</form>
	</div>
</script>

<script id="results-template" type="number/x-handlebars-template">
	<div id="results-container">
		<div class="row">
			<div class="col-xs-6">
				<span class="results-titles">valuation</span>
				<div id="valuation-container">
					<ul class="valuation-figures">
						<li><span class="valuation-category">company: </span><span class="valuation-number">{{companyName}}</span></li>
						<li><span class="valuation-category">enterprise value: </span><span class="valuation-number">${{tev}}mm</span></li>
						<li><span class="valuation-category">equity commitment: </span><span class="valuation-number">${{begEquity}}mm</span></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-6">
				<span class="results-titles">sources of value ($mm)</span>
				<div id="chart-container"></div>
			</div>
		</div>
	</div>
</script>

<script id="existingList-template" type="number/x-handlebars-template">
	<div id="existing-company-container" class="insert-block downlow">
		<p class="instructions">
			Select a company:
		</p>
		<ul class="existing-list">
			{{#each results}}
				<li class="clickable" name={{this}}>{{this}}</li>
			{{else}}
				<li>No companies available</li>
			{{/each}}
		</ul>
	</div>
</script>

<script id="about-template" type="number/x-handlebars-template">
	<div id="about-container" class="downlow">
		<p class="lots-number">
			<span class="about-category">what it is: </span>valuecreate is a fully functional valuation model packaged in a web application.
			It allows you to quickly compute a company's value using a minimal number of standard financial inputs.
		</p>
		<p class="lots-number">
		<span class="about-category">how it works: </span>Fill in the "new company" input form with your company's characteristics.  Click submit.  The value of your company will be returned along with a graphical breakdown of the key value contributors.  If you want to access a company you have already created, click the "existing company" link and select your desired company.
		</p>
		<p class="lots-number">
			<span class="about-category">valuation methodology: </span>valuecreate uses the "buyout" valuation method, the standard method employed by most private equity and venture capital firms.  The buyout method values a company by calculating its hypothetical equity value at the end of a 5 year hold period and solving for a beginning equity value that, when increased over the hold period by the target rate of return, is equivalent to the ending equity value.  The beginning enterprise value (the total value of a company) is then calculated by adding the initial debt financing (if any) to the beginning equity value.                        
		</p>
		<p class="lots-number">
			<span class="about-category">who it's for: </span>value|create is for business owners, investment bankers, private equity professionals, venture capital professionals, and anyone who wants to better understand the value of a given business.  It's perfect for quickly getting a sense of a company's worth ahead of a pitch, indication of interest, or even real time during meetings and negotiations.                 
		</p>
	</div>
</script>

