<!-- New company input form -->
<script id="newCo-template" type="text/x-handlebars-template">
	<div id="add-company-container" class="insert-block">
		<p class="instructions">
			Enter the following:
		</p>
		<form id="add-company-form">
			<div class="row newCo-row">
				<div class="col-xs-4">
					<input type="text" name="companyName" class="form-control company-input" placeholder="company name">
				</div>
				<div class="col-xs-4">
					<input type="text" name="targetReturns" class="form-control company-input" placeholder="target return">
				</div>
			</div>
			<div class="row newCo-row">
				<div class="col-xs-4">
					<input type="text" name="begRev" class="form-control company-input" placeholder="base year revenue">
				</div>
				<div class="col-xs-4">
					<input type="text" name="cagr" class="form-control company-input" placeholder="5 year revenue cagr">
				</div>
				<div class="col-xs-4">
					<input type="text" name="margin" class="form-control company-input" placeholder="ebitda margin">
				</div>
			</div>
			<div class="row newCo-row">
				<div class="col-xs-4">
					<input type="text" name="depAmort" class="form-control company-input" placeholder="depreciation & amortization">
				</div>
				<div class="col-xs-4">
					<input type="text" name="capex" class="form-control company-input" placeholder="capital expenditures">
				</div>
				<div class="col-xs-4">
					<input type="text" name="nwcDays" class="form-control company-input" placeholder="working capital days">
				</div>
			</div>
			<div class="row newCo-row">
				<div class="col-xs-4">
					<input type="text" name="debt" class="form-control company-input" placeholder="debt financing">
				</div>
				<div class="col-xs-4">
				<input type="text" name="interestRate" class="form-control company-input" placeholder="cost of debt">
				</div>
				<div class="col-xs-4">
					<input type="text" name="taxRate" class="form-control company-input" placeholder="tax rate">
				</div>
			</div>
			<div class="row newCo-row">
				<div class="col-xs-4">
					<button type="submit" class="btn btn-default btn-sub">Submit</button>
				</div>
			</div>
		</form>
	</div>
</script>
