/* Title section */

.title-area {
	margin-top: 50px;
	text-align: center;
}

.home-mainheader {
	font-weight: 100;
	letter-spacing: 5px;
	margin-bottom: 5px;
}

.home-subheader {
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 5px;
	color: #cecece;
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px;
}

/* Opening menu */

.introcontent {
	margin-bottom: 40px;
}

.menu-text {
	display: block;
	font-weight: 200;
	color: #cecece;
	letter-spacing: 3px;
	cursor: pointer;
}

.menu-text:hover {
	display: block;
	font-weight: 200;
	color: black;
	letter-spacing: 3px;
	cursor: pointer;
}

/* New company input form */

#add-company-container {
	opacity: 0;
}

#add-company-container.show {
	opacity: 1;
}

.insert-block {
	padding-bottom: 10px;
	border-bottom: solid 1px #cecece;
	-webkit-transition: opacity 1s ease-in;
}

.instructions {
	font-weight: 200;
	letter-spacing: 3px;
}

.newCo-row {
	margin-bottom: 10px;
}

.company-input {
	font-weight: 200;
	letter-spacing: 3px;
}
