/*
Global styles
*/


/*
Header styling
*/

.title-area {
	margin-top: 50px;
	text-align: center;
}

.home-mainheader {
	font-weight: 100;
	letter-spacing: 5px;
	margin-bottom: 5px;
}

.home-subheader {
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 5px;
	color: #cecece;
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px;
}

/*
Main content styling
*/

.introcontent {
	margin-bottom: 15px;
}

.menu-text {
	display: block;
	font-weight: 200;
	color: #cecece;
	letter-spacing: 3px;
	cursor: pointer;
}

.menu-text:hover {
	display: block;
	font-weight: 200;
	color: black;
	letter-spacing: 3px;
	cursor: pointer;
}
